/**
 * Plugin RSS
 */












/**
 * RSSFEED - Article
 * integrazione di un feed RSS singolo mediante JcmsBox
 */

.article .rssfeed {}

	.sidebox .rssfeed-url {}
	
	.sidebox .rssfeed-items {}


.article .rssfeed-item {
	position: relative;
	display:block;
	margin: 0 0 45px 0;
}
	
	.article .rssfeed-titles {
		padding:5px;
		margin: 0;
		border-bottom:1px solid #aaa;
	}
	
		.article .rssfeed-title {
			float:left;
			margin:0;
		}
		
		
		.article .rssfeed-date {
			float:right;
			color:black;
		}
	
	.article .rssfeed-content {
		
		display:block;
		clear:both;
		line-height: 1.5em;
		padding: 5px;
	}
	
		.article .rssfeed-content .feed-head {
			letter-spacing: 1px;
			font-size:0.85em;	
		}
	
	.article .rssfeed-link {
		display:none;
	}

/* Stile interno al feed compatibile con il feed news classico */

.article .rssfeed-item .feed-image {
	float:left;
	margin: 0 10px 10px 0;
}
	.article .rssfeed-item .feed-image img {
		float:left;
		border:1px solid #666;
	}
	
.article .rssfeed-item hr {
	display:none;
}

.article .rssfeed-item .feed-body {
	display:block;
	clear:both;
}






/**
 * RSSFEED - SideBOX
 * integrazione di un feed RSS singolo mediante JcmsBox
 */

.sidebox .rssfeed {}

	.sidebox .rssfeed-url {}
	
	.sidebox .rssfeed-items {}


.sidebox .rssfeed-item {
	position: relative;
	display:block;
	margin: 0 0 5px 0;
	background: #eee;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:5px;
	
	letter-spacing: 1px;
	font-size:0.85em;
}
	
	.sidebox .rssfeed-titles {
		background: #eee;
		padding:5px;
		margin: 0;
		border-bottom:1px solid #aaa;
	}
	
		.sidebox .rssfeed-title {
			float:left;
			margin:0;
		}
		
		.sidebox .rssfeed-title * {
			color:black;
		}
		
		.sidebox .rssfeed-date {
			float:right;
			color:black;
		}
	
	.sidebox .rssfeed-content {
		display:block;
		clear:both;
		line-height: 1.5em;
		padding: 5px;
		border-top:1px solid #fff;
		border-bottom:1px solid #aaa;
	}
	
	.sidebox .rssfeed-link {
		display:block;
		border-top:1px solid #fff;
		padding:5px;
	}
	
	.sidebox .rssfeed-link a {
		display:block;
		text-align: right;
	}

/* Stile interno al feed compatibile con il feed news classico */

.sidebox .rssfeed-item .feed-image {
	float:left;
	margin: 0 10px 10px 0;
}
	.sidebox .rssfeed-item .feed-image img {
		float:left;
		border:1px solid #666;
	}
	
.sidebox .rssfeed-item hr {
	display:none;
}

.sidebox .rssfeed-item .feed-body {
	display:block;
	clear:both;
}