/**
 * cavamvicenza.it
 * General contents.
 *
 * Marco Pegoraro
 * marco(at)adessoweb(dot)biz
 * 11/09/2010
 */
 




/**
 * Contact Form
 */


.jcms-contact-form label {
	display:							block;
	width:								140px;
	text-align:							right;
	float:								left;
	
	border:								1px solid #ddd;
	border-right:						none;
	
	-webkit-border-top-left-radius:		8px;
	-webkit-border-bottom-left-radius:	8px;
	-moz-border-radius-topleft:			8px;
	-moz-border-radius-bottomleft:		8px;
	border-top-left-radius:				8px;
	border-bottom-left-radius:			8px;
	
	margin:								0 0 0 0;
	padding:							6px 5px 5px 0;
	
	color:								#666;
	background:							#f6f6f6;
	font-weight:						bold;
}

.jcms-contact-form input.txt, .jcms-contact-form textarea {
	
	border:								1px solid #949085;
	-webkit-border-top-right-radius:	8px;
	-webkit-border-bottom-right-radius:	8px;
	-moz-border-radius-topright:		8px;
	-moz-border-radius-bottomright:		8px;
	border-top-right-radius:			8px;
	border-bottom-right-radius:			8px;
	
	padding:							2px 1px;
	margin:								0;
	
	font-family:						Tahoma;
	font-size:							1.3em;
	color:								#949085;
}

.jcms-contact-form textarea {
	font-size:							1.2em;
	padding:							5px;
}

.jcms-contact-form div {
	display:							block;
	margin:								0 0 15px 0;
}


.jcms-contact-form .privacy {
	background:							#fff9ea;
	padding:							5px;
	
	border:								1px solid #666;
	-webkit-border-radius:				8px;
	-moz-border-radius:					8px;
	border-radius:						8px;
}

.jcms-contact-form .privacy label {
	float:								none;
	display:							inline;
	border:								none;
	background:							none;
	font-weight:						normal;
}

.jcms-contact-form .submit input, .jcms-contact-form .reset input {
	font-size:							1.5em;
	border:								none;
	background:							none;
	color:								#888;
	cursor:								pointer;
	padding:							5px;
}

.jcms-contact-form .submit {
	float:								right;
}

.jcms-contact-form .submit input {
	border:								1px solid #666;
	-webkit-border-radius:				18px;
	-moz-border-radius:					18px;
	border-radius:						18px;
	color:								#666;
	background:							#f6f6f6;
	padding-right:						15px;
	padding-left:						15px;
}
.jcms-contact-form .submit input:hover {
	background:							#008040;
	color:								#fff;
}

.jcms-contact-form .reset input:hover {
	text-decoration:					underline;
}

.jcms-contact-form .error_message {
	display:							block;
	margin-left:						150px;
	margin-top:							5px;
	color:								#900;
	font-family:						monospace;
	font-size:							1.2em;
}
.jcms-contact-form input.form_error {
	border-color:						#900;
	background:							#fff2ec;
}

.jcms-contact-form .privacy .error_message {
	margin-left:						5px;
}





.sidebox {
	display:block;
	margin: 0 0 30px 0;
}