/**
 * PEG's CSS Library
 * @Author:		Marco Pegoraro
 * @Version:	1.0
 * @Start:		31-10-2009
 * 
 * Style di azzeramento e classi generiche.
 * 
 */
/* ************************************************************** *
 * AZZERAMENTO                                                    *
 * ************************************************************* */
html,
body,
ul,
ol,
li,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
pre,
blockquote,
span,
font,
b,
u,
i,
center,
strong,
em,
strike,
sub,
sup,
small,
tt,
var,
applet,
object,
iframe,
form,
fieldset,
label,
table,
caption,
thead,
tbody,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
  font-size: 100.01%;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.85em;
}
ul,
ol {
  list-style-position: outside;
}
img {
  border: none;
}
:focus,
:active {
  outline: 0;
}
blockquote,
q {
  quotes: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ************************************************************** *
 * STILI PREDEFINITI                                              *
 * ************************************************************* */
/**
 * Comportamento predefinito dei link
 */
a {
  color: blue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/**
 * Elemento strutturale.
 * Non viene visualizzato nella resa di immagine.
 */
.str {
  display: none;
}
/**
 * Elemento di clear floating.
 * Solitamente utilizzato con uno SPAN a chiusura di layouting
 * multicolonna in floating.
 */
.clr {
  display: block;
  height: 0;
  overflow: hidden;
  margin: 0;
  clear: both;
}
/**
 * Elemento colonna e Allineamenti
 */
.col {
  display: block;
  overflow: hidden;
  margin: 0;
  float: left;
}
.left,
.l {
  float: left;
}
.right,
.r {
  float: right;
}
.center,
.c {
  text-align: center;
}
.auto,
.a {
  margin: auto;
  margin-left: auto;
  margin-right: auto;
}
/**
 * Formattazione del testo generica
 */
.bold,
.b {
  font-weight: bold;
}
.italic,
.i {
  font-style: italic;
}
.underline,
.u {
  text-decoration: underline;
}
/**
 * Lista in linea comune
 */
ul.line {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.line li {
  display: inline;
  padding: 0 10px 0 10px;
}
/**
 * cavamvicenza.it
 * Sheet description.
 *
 * Marco Pegoraro
 * marco(at)adessoweb(dot)biz
 * 11/09/2010
 */
body {
  border-top: 10px solid #E6E1DD;
  background: #f2f2f2;
  text-align: center;
}
/**
 * Layout row
 * Full page width.
 */
/**
 * Layout Box Wrapper
 * Fixed width, centered into body
 */
.lbox {
  position: relative;
  display: block;
  width: 970px;
  margin: 0 auto 0 auto;
  text-align: left;
}
/* Striscia bianca */
#logo-wrapper,
#content-wrapper {
  background: #fff;
}
/* Striscia rosa  */
#header-wrapper,
#footer-wrapper {
  background: #E6E1DD;
}
/**
 * LOGO
 */
#logo-wrapper .lbox {
  display: block;
  position: relative;
}
/**
 * HEADER
 */
#header-wrapper .lbox {
  display: block;
  height: 55px;
  position: relative;
}
/**
 * CONTENT
 */
#content-wrapper .lbox {
  display: block;
  position: relative;
  min-height: 200px;
  height: auto !important;
  height: 200px;
  padding: 30px 0;
}
#content-wrapper .col {
  width: 300px;
  margin-right: 33px;
  overflow: hidden;
}
#content-wrapper .col2 {
  width: 633px;
}
#content-wrapper .col-double {
  width: 465px;
}
#content-wrapper .col-full {
  width: 100%;
  margin: 0;
}
#content-wrapper .col-last {
  margin: 0;
}
/**
 * FOOTER
 */
#footer-wrapper .lbox {
  display: block;
  position: relative;
}
/**
 * CREDITS
 */
#credits-wrapper .lbox {
  display: block;
  position: relative;
}
/**
 * cavamvicenza.it
 * Sheet description.
 *
 * Marco Pegoraro
 * marco(at)adessoweb(dot)biz
 * 11/09/2010
 */
body {
  border-top: 10px solid #E6E1DD;
  background: #f2f2f2;
  text-align: center;
}
/**
 * Layout row
 * Full page width.
 */
/**
 * Layout Box Wrapper
 * Fixed width, centered into body
 */
.lbox {
  position: relative;
  display: block;
  width: 970px;
  margin: 0 auto 0 auto;
  text-align: left;
}
/* Striscia bianca */
#logo-wrapper,
#content-wrapper {
  background: #fff;
}
/* Striscia rosa  */
#header-wrapper,
#footer-wrapper {
  background: #E6E1DD;
}
/**
 * LOGO
 */
#logo-wrapper .lbox {
  display: block;
  position: relative;
}
/**
 * HEADER
 */
#header-wrapper .lbox {
  display: block;
  height: 55px;
  position: relative;
}
/**
 * CONTENT
 */
#content-wrapper .lbox {
  display: block;
  position: relative;
  min-height: 200px;
  height: auto !important;
  height: 200px;
  padding: 30px 0;
}
#content-wrapper .col {
  width: 300px;
  margin-right: 33px;
  overflow: hidden;
}
#content-wrapper .col2 {
  width: 633px;
}
#content-wrapper .col-double {
  width: 465px;
}
#content-wrapper .col-full {
  width: 100%;
  margin: 0;
}
#content-wrapper .col-last {
  margin: 0;
}
/**
 * FOOTER
 */
#footer-wrapper .lbox {
  display: block;
  position: relative;
}
/**
 * cavamvicenza.it
 * 
 * Marco Pegoraro
 * marco(at)adessoweb(dot)biz
 * 11/09/2010
 */
/* Body Typo */
body {
  font-family: Georgia;
}
/**
 * Generiche sul contenuto principale della pagina.
 */
#content-wrapper {
  font-family: "Trebuchet MS";
  font-size: 0.75em;
  color: #949085;
}
/* Global links */
a {
  color: #E01E52;
}
/* Global Paragraph */
p {
  margin: 0 0 20px 0;
  line-height: 1.4em;
}
/* General Titling Style (with links inside) */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px 0;
}
h1.title,
h2.title,
h3.title,
h4.title,
h5.title,
h6.title {
  color: #E01E52;
}
/**
 * Titling Styles (with links inside) 
 */
h1 {
  font-size: 2em;
  font-weight: normal;
}
h2 {
  font-size: 1.3em;
  font-weight: normal;
}
h3 {
  font-size: 1em;
  font-weight: bold;
}
h4 {
  font-size: 1em;
  font-weight: normal;
}
h5 {
  font-size: 1em;
  font-weight: normal;
}
h6 {
  font-size: 1em;
  font-weight: normal;
}
ul,
ol {
  margin: 10px 0 10px 15px;
  list-style-type: disc;
  list-style-position: outside;
}
ul li,
ol li {
  line-height: 1.5em;
}
ol {
  list-style-type: lower-latin;
  margin-left: 20px;
}
ul li ul,
ol li ol {
  margin-top: 0;
}
/*
 * CREDITS
 */
#credits-wrapper .lbox {
  display: block;
  position: relative;
}
/**
 * cavamvicenza.it
 * Heading styles, menu, titling, etc.
 *
 * Marco Pegoraro
 * marco(at)adessoweb(dot)biz
 * 11/09/2010
 */
/**
 * Logo Image Replacement
 */
#titling {
  float: left;
}
#titling h1 {
  margin: 0;
  padding: 20px 0 0 0;
}
#titling h1 a {
  color: black;
}
#titling h2 {
  font-size: 0.9em;
  padding: 0 0 20px 0;
  margin: 0;
}
#logo {
  text-align: center;
  float: right;
}
/**
 * Main Menu
 */
#mm {
  padding: 10px 0 0 0;
  text-align: left;
}
#mm.ie {
  position: absolute;
  top: 0px;
  left: 50%;
  display: block;
  width: 970px;
  margin-left: -485px;
}
#mm ul {
  margin: 0;
  list-style: none;
  font-size: 1.1em;
}
#mm ul li {
  position: relative;
  display: inline;
  float: left;
}
#mm ul li a {
  display: block;
  float: left;
  border: 1px solid #E6E1DD;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 4px 5px 4px 5px;
  margin: 0 5px;
  color: #979088;
}
#mm ul li a:hover,
#mm ul li a.selected {
  background: #F4F0EF;
  color: #E11C51;
  border-color: #EEEAE7;
}
#mm ul li ul {
  position: absolute;
  top: 30px;
  left: -5px;
  z-index: 9999;
  display: none;
  width: 250px;
  background: #E6E1DD;
  border: 1px solid #979088;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  font-size: 0.8em;
}
#mm ul li ul li,
#mm ul li ul li a {
  float: none;
}
/**
 * Slide show home page.
 */
#hslide {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 725px;
  height: 425px;
}
/* Bottoni di progressione */
#hslide a.prev,
#hslide a.prev span,
#hslide a.next,
#hslide a.next span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 435px;
  float: left;
}
#hslide a.prev,
#hslide a.next {
  position: relative;
}
#hslide a.prev span,
#hslide a.next span {
  background-image: url(img/hslide_nav.jpg);
}
#hslide a.next {
  float: right;
}
#hslide a.next:hover span {
  background-position: -40px 0;
}
#hslide a.prev span {
  background-position: -80px 0;
}
#hslide a.prev:hover span {
  background-position: -120px 0;
}
/* Carosello */
#hslide ul {
  display: block;
  width: 645px;
  height: 425px;
  overflow: hidden;
  list-style: none;
}
#hslide ul li {
  display: block;
  width: 635px;
  height: 425px;
  overflow: hidden;
  display: inline;
  float: left;
}
#hslide ul > li {
  width: 645px;
}
#hslide ul li a img {
  border: none;
  float: left;
}
#hslide {
  text-align: right;
}
#hslide .caroufredsel_wrapper {
  margin: auto;
  margin-right: 0;
  margin-top: 0;
}
#hslide .caroufredsel_wrapper ul {
  margin: 0;
}
#footer-wrapper .lbox,
#credits-wrapper .lbox {
  padding: 30px 0 30px 0;
  text-align: center;
  font-family: Verdana;
  font-size: 0.7em;
}
#footer-wrapper .lbox,
#footer-wrapper .lbox a {
  color: #E21E50;
}
/**
 * cavamvicenza.it
 * Stili specifici home page
 *
 * Marco Pegoraro
 * marco(at)adessoweb(dot)biz
 * 11/09/2010
 */
/**
 * Adattamento altezza intestazione.
 */
body.home #header-wrapper .lbox {
  height: 425px;
  overflow: hidden;
}
/**
 * Adattamenti main menu.
 */
body.home #mm {
  position: absolute;
  bottom: 30px;
  top: auto;
  left: 0px;
  display: block;
  width: 245px;
  height: auto;
  margin: 0;
  padding: 0;
}
body.home #mm ul li,
body.home #mm ul li a {
  float: none;
}
/**
 * Varianti "home_small"
 */
body.home_small #header-wrapper .lbox {
  height: 250px;
}
body.home_small #hslide {
  height: 250px;
  overflow: hidden;
}
/**
 * cavamvicenza.it
 * General contents.
 *
 * Marco Pegoraro
 * marco(at)adessoweb(dot)biz
 * 11/09/2010
 */
/**
 * Contact Form
 */
.jcms-contact-form label {
  display: block;
  width: 140px;
  text-align: right;
  float: left;
  border: 1px solid #ddd;
  border-right: none;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  margin: 0 0 0 0;
  padding: 6px 5px 5px 0;
  color: #666;
  background: #f6f6f6;
  font-weight: bold;
}
.jcms-contact-form input.txt,
.jcms-contact-form textarea {
  border: 1px solid #949085;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 2px 1px;
  margin: 0;
  font-family: Tahoma;
  font-size: 1.3em;
  color: #949085;
}
.jcms-contact-form textarea {
  font-size: 1.2em;
  padding: 5px;
}
.jcms-contact-form div {
  display: block;
  margin: 0 0 15px 0;
}
.jcms-contact-form .privacy {
  background: #fff9ea;
  padding: 5px;
  border: 1px solid #666;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.jcms-contact-form .privacy label {
  float: none;
  display: inline;
  border: none;
  background: none;
  font-weight: normal;
}
.jcms-contact-form .submit input,
.jcms-contact-form .reset input {
  font-size: 1.5em;
  border: none;
  background: none;
  color: #888;
  cursor: pointer;
  padding: 5px;
}
.jcms-contact-form .submit {
  float: right;
}
.jcms-contact-form .submit input {
  border: 1px solid #666;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  color: #666;
  background: #f6f6f6;
  padding-right: 15px;
  padding-left: 15px;
}
.jcms-contact-form .submit input:hover {
  background: #008040;
  color: #fff;
}
.jcms-contact-form .reset input:hover {
  text-decoration: underline;
}
.jcms-contact-form .error_message {
  display: block;
  margin-left: 150px;
  margin-top: 5px;
  color: #900;
  font-family: monospace;
  font-size: 1.2em;
}
.jcms-contact-form input.form_error {
  border-color: #900;
  background: #fff2ec;
}
.jcms-contact-form .privacy .error_message {
  margin-left: 5px;
}
.sidebox {
  display: block;
  margin: 0 0 30px 0;
}
body {
  border-color: #C7F66F;
  background: #C7F66F;
}
#header-wrapper,
#footer-wrapper {
  background: #659A00;
}
/**
 * Header
 */
#titling h2 a {
  color: #444;
}
/**
 * Main Menu
 */
#mm ul li a {
  border: none;
  color: #fff;
}
#mm ul li a:hover,
#mm ul li a.selected {
  border: none;
  background: #C7F66F;
  color: #000;
}
/* Sub Menus */
#mm ul li ul {
  border: none;
  background-color: #C7F66F;
}
#mm ul li ul li,
#mm ul li ul li a {
  border: none;
  color: #000;
}
#mm ul li ul li a:hover {
  background: #659A00;
  color: #fff;
}
/**
 * Typo
 */
a {
  color: blue;
}
h1.title,
h2.title,
h3.title,
h4.title,
h5.title,
h6.title {
  color: #659A00;
}
/**
 * Footing
 */
#footer-wrapper .lbox {
  color: #fff;
}
#footer-wrapper .lbox a {
  color: #fff;
  text-decoration: underline;
}
#credits-wrapper .lbox a {
  color: #000;
  font-weight: bold;
}
/**
 * Google Fonts menù
 */
#mm {
  font-family: 'Ubuntu';
}
body {
  font-family: 'Ubuntu';
}
/**
 * Colori 
 */
#header-wrapper {
  background: #219741;
}
#mm ul li a:hover,
#mm ul li a.selected {
  background: white;
}
#mm ul li ul {
  background: #219741;
}
#mm ul li ul li a:hover {
  background: #fff;
  color: #000;
}
body {
  border-color: #fff;
  background: #fff;
}
#footer-wrapper {
  background: #c3c4c8;
}
h1.title,
h2.title,
h3.title,
h4.title,
h5.title,
h6.title {
  color: #219741;
}
/**
 * Fix scroller home page.
 * La larghezza dell'elemento di scroll si adatta all'immagine.
 */
#hslide ul > li {
  width: auto;
}
/**
 * Fix altezza scroller home page
 */
body.home #header-wrapper .lbox {
  height: 340px;
}
#hslide img {
  height: 340px;
}
body .nivo-directionNav a {
  top: auto;
  bottom: 176px;
  width: 55px;
  height: 27px;
  background: url(../img/arrows.png) no-repeat;
}
body a.nivo-prevNav {
  left: 0px;
}
body a.nivo-nextNav {
  background-position: 0 -27px;
  right: 0px;
}
/**
 * NivoSlider
 * Collezione Primavera/Estate
 */
#primavera .nivo-controlNav {
  bottom: 103px;
  left: 287px;
  margin: 0;
}
#autunno .nivo-controlNav {
  bottom: 103px;
  left: 360px;
  margin: 0;
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/vRvZYZlUaogOuHbBTT1SNevvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
/*
 * jQuery Nivo Slider v2.5.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
/* The Nivo Slider styles */
.nivoSlider {
  position: relative;
}
.nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  z-index: 6;
  display: none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
  display: block;
  position: absolute;
  z-index: 5;
  height: 100%;
}
.nivo-box {
  display: block;
  position: absolute;
  z-index: 5;
}
/* Caption styles */
.nivo-caption {
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: #000;
  color: #fff;
  opacity: 0.8;
  /* Overridden by captionOpacity setting */

  width: 100%;
  z-index: 8;
}
.nivo-caption p {
  padding: 5px;
  margin: 0;
}
.nivo-caption a {
  display: inline !important;
}
.nivo-html-caption {
  display: none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
  position: absolute;
  top: 45%;
  z-index: 9;
  cursor: pointer;
}
.nivo-prevNav {
  left: 0px;
}
.nivo-nextNav {
  right: 0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
  position: relative;
  z-index: 9;
  cursor: pointer;
}
.nivo-controlNav a.active {
  font-weight: bold;
}
/**
 * Personalizzazioni EndUser
 */
.nivo-controlNav {
  position: absolute;
  left: 50%;
  margin-left: -10%;
  bottom: 3%;
}
.nivo-controlNav a {
  display: block;
  width: 22px;
  height: 22px;
  background: url(../img/bullets.png) no-repeat;
  text-indent: -9999px;
  border: 0;
  margin-right: 3px;
  float: left;
}
.nivo-controlNav a.active {
  background-position: 0 -22px;
}
.nivo-directionNav a {
  display: block;
  width: 30px;
  height: 30px;
  background: url(../img/arrows.png) no-repeat;
  text-indent: -9999px;
  border: 0;
}
a.nivo-nextNav {
  background-position: -30px 0;
  right: 15px;
}
a.nivo-prevNav {
  left: 15px;
}
.nivo-caption {
  text-shadow: none;
  font-family: Helvetica, Arial, sans-serif;
}
.nivo-caption a {
  color: #efe9d1;
  text-decoration: underline;
}
/**
 * CV Form
 */
/**
 * Generic Field
 */
/* `Clearfix hack: http://nicolasgallagher.com/micro-clearfix-hack/
---------------------------------------- */
.cvform_field:before,
.cvform_field:after {
  content: "";
  display: table;
}
.cvform_field:after {
  clear: both;
}
.cvform_field {
  *zoom: 1;
}
.cvform_field {
  margin-bottom: 1em;
}
.cvform_field label {
  display: block;
  font-weight: bold;
  font-size: 0.85em;
}
.cvform_string,
.cvform_text {
  border: 1px solid #444;
  border-radius: 3px;
  width: 70%;
  padding: 1px 5px;
}
.cvform_text {
  padding: 5px;
}
.cvform_check {
  margin-right: 10px;
}
.cvform_help p {
  margin: 0;
}
/**
 * Generic Checkbox Fields
 */
.cvform_checkbox label {
  display: inline;
  font-weight: normal;
  font-size: 1em;
}
/**
 * Generic Attachment Fields
 */
/**
 * Privacy Field
 */
.cvform_privacy {
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  margin: 10px 0;
  padding: 10px;
  background: #efefee;
}
/**
 * Submit
 */
.cvform_submit {
  text-align: right;
  margin: 10px 0;
  padding: 10px 0;
}
.cvform_submit input {
  font-weight: bold;
  font-size: 1.1em;
}
/**
 * Errors & Notifications
 */
.cvform_errors {
  color: #900;
  font-weight: bold;
  font-size: 0.9em;
  margin: 3px auto auto auto;
}
.cvform_error,
.cvform_confirm {
  border-bottom: 1px solid #000;
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
}
.cvform_error p,
.cvform_confirm p {
  margin: 0.5em 0;
}
