/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/**
 * Google Fonts menù
 */
#mm {
  font-family: 'Ubuntu';
}
body {
  font-family: 'Ubuntu';
}
/**
 * Colori 
 */
#header-wrapper {
  background: #219741;
}
#mm ul li a:hover,
#mm ul li a.selected {
  background: white;
}
#mm ul li ul {
  background: #219741;
}
#mm ul li ul li a:hover {
  background: #fff;
  color: #000;
}
body {
  border-color: #fff;
  background: #fff;
}
#footer-wrapper {
  background: #c3c4c8;
}
h1.title,
h2.title,
h3.title,
h4.title,
h5.title,
h6.title {
  color: #219741;
}
/**
 * Fix scroller home page.
 * La larghezza dell'elemento di scroll si adatta all'immagine.
 */
#hslide ul > li {
  width: auto;
}
/**
 * Fix altezza scroller home page
 */
body.home #header-wrapper .lbox {
  height: 340px;
}
#hslide img {
  height: 340px;
}
body .nivo-directionNav a {
  top: auto;
  bottom: 176px;
  width: 55px;
  height: 27px;
  background: url(arrows.png) no-repeat;
}
body a.nivo-prevNav {
  left: 0px;
}
body a.nivo-nextNav {
  background-position: 0 -27px;
  right: 0px;
}
/**
 * NivoSlider
 * Collezione Primavera/Estate
 */
#primavera .nivo-controlNav {
  bottom: 103px;
  left: 287px;
  margin: 0;
}
#autunno .nivo-controlNav {
  bottom: 103px;
  left: 360px;
  margin: 0;
}
